{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!DOCTYPE html>
<html lang="Eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Times New Roman', Times, serif;
        }

        .column {
            float: left;
            width: 25%;
            padding: 10px 10px;
        }

        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        .card {
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8);
            padding: 4px;
            border-style: solid;
        }

        .AlignCenter {
            text-align: center;
        }

        table, td {
            border: groove;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
    <title>Renewal Fee Slip</title>
</head>
<body onload="pdf()">
{% for i in StdData %}
    <div class="row" id="content">
        <div class="column">
            <div class="card">
                <img src="{% static 'media/Uni_Logo.png' %}" style="float: left; width: 90px; height:90px;"
                     alt="Uni_Logo">
                <div class="AlignCenter">
                    <h3 style="margin-bottom: 40px;">THE UNIVERSITY OF AGRICULTURE, PESHAWAR</h3>
                    <p style="color: #f1f1f1;font-weight: bold; height: 25px;background-color: rgb(93, 95, 95);padding-top: 5px;">
                        BANK COPY</p>
                </div>
                <p style="font-weight: bold;">Bank Code:________ Valid
                    Upto:__<u>{{ i.Semester.Valid_Upto_Date.Date|date:'d/M/y' }}</u>__</p>
                <p style="font-weight: bold;">Branch Name:_____________________________</p>
                <p style="font-weight: bold;">Serial Number:___<u>{{ year }}-5460{{ i.id }}0{{ i.Roll_No }}</u>______________
                </p>
                <h5 style="text-align: center; margin-bottom: 0;">ONLINE BANK DEPOSIT SLIP</h5>
                <img src="{% static 'media/Bank_Logo.png' %}" style="width: 343px; height: 100px;" alt="Bank_Logo">
                <table>
                    <tr>
                        <td>Name</td>
                        <td style="text-align:center;"><b>{{ i.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Father's Name</td>
                        <td style="text-align:center;"><b>{{ i.Father_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Program Name</td>
                        <td style="text-align:center;"><b>{{ i.Program.Program_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Roll No</td>
                        <td style="text-align:center;"><b>{{ i.Roll_No }}</b></td>
                    </tr>
                    <tr>
                        <td>Semester&emsp;&emsp;&emsp;</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>On Account Of</td>
                        <td style="text-align:center;">Renewal Fee</td>
                    </tr>
                    <tr>
                        <td>Fee Amount</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Fee }}/-</b></td>
                    </tr>
                    <tr>
                        <td>In Words</td>
                        <td style="text-align:center;">{{ feeInWords }}</td>
                    </tr>
                </table>
                <p class="AlignCenter" style="margin-bottom: 0;">__________________&emsp;&emsp;__________________</p>
                <p class="" style="margin : 0;">&emsp;Bank Officer Signature &emsp;&emsp; Depositer Signature</p>
                <p style="text-align: center; font-size: small; margin-bottom: 0;"><b>Generated by Fawad (BsIT AUP
                    19-23)</b></p>
            </div>
            <p style="text-align: center; background-color: rgb(183, 189, 189); height: 25px; padding-top: 3px;">
                <b>IBMS</b>
            </p>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'media/Uni_Logo.png' %}" style="float: left; width: 90px; height:90px;"
                     alt="Uni_Logo">
                <div class="AlignCenter">
                    <h3 style="margin-bottom: 40px;">THE UNIVERSITY OF AGRICULTURE, PESHAWAR</h3>
                    <p style="color: #f1f1f1;font-weight: bold; height: 25px;background-color: rgb(93, 95, 95);padding-top: 5px;">
                        FINANCE COPY</p>
                </div>
                <p style="font-weight: bold;">Bank Code:________ Valid
                    Upto:__<u>{{ i.Semester.Valid_Upto_Date.Date|date:'d/M/y' }}</u>__</p>
                <p style="font-weight: bold;">Branch Name:_____________________________</p>
                <p style="font-weight: bold;">Serial Number:___<u>{{ year }}-5460{{ i.id }}0{{ i.Roll_No }}</u>______________
                </p>
                <h5 style="text-align: center; margin-bottom: 0;">ONLINE BANK DEPOSIT SLIP</h5>
                <img src="{% static 'media/Bank_Logo.png' %}" style="width: 343px; height: 100px;" alt="Bank_Logo">
                <table>
                    <tr>
                        <td>Name</td>
                        <td style="text-align:center;"><b>{{ i.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Father's Name</td>
                        <td style="text-align:center;"><b>{{ i.Father_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Program Name</td>
                        <td style="text-align:center;"><b>{{ i.Program.Program_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Roll No</td>
                        <td style="text-align:center;"><b>{{ i.Roll_No }}</b></td>
                    </tr>
                    <tr>
                        <td>Semester&emsp;&emsp;&emsp;</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>On Account Of</td>
                        <td style="text-align:center;">Renewal Fee</td>
                    </tr>
                    <tr>
                        <td>Fee Amount</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Fee }}/-</b></td>
                    </tr>
                    <tr>
                        <td>In Words</td>
                        <td style="text-align:center;">{{ feeInWords }}</td>
                    </tr>
                </table>
                <p class="AlignCenter" style="margin-bottom: 0;">__________________&emsp;&emsp;__________________</p>
                <p class="" style="margin : 0;">&emsp;Bank Officer Signature &emsp;&emsp; Depositer Signature</p>
                <p style="text-align: center; font-size: small; margin-bottom: 0;"><b>Generated by Fawad (BsIT AUP
                    19-23)</b></p>
            </div>
            <p style="text-align: center; background-color: rgb(183, 189, 189); height: 25px; padding-top: 3px;">
                <b>IBMS</b>
            </p>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'media/Uni_Logo.png' %}" style="float: left; width: 90px; height:90px;"
                     alt="Uni_Logo">
                <div class="AlignCenter">
                    <h3 style="margin-bottom: 40px;">THE UNIVERSITY OF AGRICULTURE, PESHAWAR</h3>
                    <p style="color: #f1f1f1;font-weight: bold; height: 25px;background-color: rgb(93, 95, 95);padding-top: 5px;">
                        OFFICE RECORD COPY</p>
                </div>
                <p style="font-weight: bold;">Bank Code:________ Valid
                    Upto:__<u>{{ i.Semester.Valid_Upto_Date.Date|date:'d/M/y' }}</u>__</p>
                <p style="font-weight: bold;">Branch Name:_____________________________</p>
                <p style="font-weight: bold;">Serial Number:___<u>{{ year }}-5460{{ i.id }}0{{ i.Roll_No }}</u>______________
                </p>
                <h5 style="text-align: center; margin-bottom: 0;">ONLINE BANK DEPOSIT SLIP</h5>
                <img src="{% static 'media/Bank_Logo.png' %}" style="width: 343px; height: 100px;" alt="Bank_Logo">
                <table>
                    <tr>
                        <td>Name</td>
                        <td style="text-align:center;"><b>{{ i.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Father's Name</td>
                        <td style="text-align:center;"><b>{{ i.Father_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Program Name</td>
                        <td style="text-align:center;"><b>{{ i.Program.Program_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Roll No</td>
                        <td style="text-align:center;"><b>{{ i.Roll_No }}</b></td>
                    </tr>
                    <tr>
                        <td>Semester&emsp;&emsp;&emsp;</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>On Account Of</td>
                        <td style="text-align:center;">Renewal Fee</td>
                    </tr>
                    <tr>
                        <td>Fee Amount</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Fee }}/-</b></td>
                    </tr>
                    <tr>
                        <td>In Words</td>
                        <td style="text-align:center;">{{ feeInWords }}</td>
                    </tr>
                </table>
                <p class="AlignCenter" style="margin-bottom: 0;">__________________&emsp;&emsp;__________________</p>
                <p class="" style="margin : 0;">&emsp;Bank Officer Signature &emsp;&emsp; Depositer Signature</p>
                <p style="text-align: center; font-size: small; margin-bottom: 0;"><b>Generated by Fawad (BsIT AUP
                    19-23)</b></p>
            </div>
            <p style="text-align: center; background-color: rgb(183, 189, 189); height: 25px; padding-top: 3px;">
                <b>IBMS</b>
            </p>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'media/Uni_Logo.png' %}" style="float: left; width: 90px; height:90px;"
                     alt="Uni_Logo">
                <div class="AlignCenter">
                    <h3 style="margin-bottom: 40px;">THE UNIVERSITY OF AGRICULTURE, PESHAWAR</h3>
                    <p style="color: #f1f1f1;font-weight: bold; height: 25px;background-color: rgb(93, 95, 95);padding-top: 5px;">
                        STUDENT'S COPY</p>
                </div>
                <p style="font-weight: bold;">Bank Code:________ Valid
                    Upto:__<u>{{ i.Semester.Valid_Upto_Date.Date|date:'d/M/y' }}</u>__</p>
                <p style="font-weight: bold;">Branch Name:_____________________________</p>
                <p style="font-weight: bold;">Serial Number:___<u>{{ year }}-5460{{ i.id }}0{{ i.Roll_No }}</u>______________
                </p>
                <h5 style="text-align: center; margin-bottom: 0;">ONLINE BANK DEPOSIT SLIP</h5>
                <img src="{% static 'media/Bank_Logo.png' %}" style="width: 343px; height: 100px;" alt="Bank_Logo">
                <table>
                    <tr>
                        <td>Name</td>
                        <td style="text-align:center;"><b>{{ i.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Father's Name</td>
                        <td style="text-align:center;"><b>{{ i.Father_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Program Name</td>
                        <td style="text-align:center;"><b>{{ i.Program.Program_Name }}</b></td>
                    </tr>
                    <tr>
                        <td>Roll No</td>
                        <td style="text-align:center;"><b>{{ i.Roll_No }}</b></td>
                    </tr>
                    <tr>
                        <td>Semester&emsp;&emsp;&emsp;</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Name }}</b></td>
                    </tr>
                    <tr>
                        <td>On Account Of</td>
                        <td style="text-align:center;">Renewal Fee</td>
                    </tr>
                    <tr>
                        <td>Fee Amount</td>
                        <td style="text-align:center;"><b>{{ i.Semester.Fee }}/-</b></td>
                    </tr>
                    <tr>
                        <td>In Words</td>
                        <td style="text-align:center;">{{ feeInWords }}</td>
                    </tr>
                </table>
                <p class="AlignCenter" style="margin-bottom: 0;">__________________&emsp;&emsp;__________________</p>
                <p class="" style="margin : 0;">&emsp;Bank Officer Signature &emsp;&emsp; Depositer Signature</p>
                <p style="text-align: center; font-size: small; margin-bottom: 0;"><b>Generated by Fawad (BsIT AUP
                    19-23)</b></p>
            </div>
            <p style="text-align: center; background-color: rgb(183, 189, 189); height: 25px; padding-top: 3px;">
                <b>IBMS</b>
            </p>
        </div>
    </div>
{% endfor %}
</body>
<script>
    function pdf() {
        domtoimage.toPng(document.getElementById('content'))
            .then(function (blob) {
                const pdf = new jsPDF('l', 'pt', ['2000', '1000']);
                pdf.addImage(blob, 'png', 0, 0, '2000', '1000');
                pdf.save("RenewalForm.pdf");
                setTimeout("window.close()", 3000)
            });
    }
</script>
<script src="{% static 'js_pdf/jspdf.min.js' %}"></script>
<script src="{% static 'js_pdf/dom-to-image.min.js' %}"></script>
</html>
